@font-face {
  font-family: "New Rodin";
  src: url(/fonts/FOT-NewRodin-Pro-EB.otf?56d55b0a5b6386173d4eb31c41d4b5bc) format("opentype");
}
@font-face {
  font-family: "Mario Kart";
  src: url(/fonts/mario_kart_font_two.ttf?0651abbb7f9186191028b7d72266089a) format("truetype");
}
body {
  background: #333 url(/images/bg.jpg?6fe3177dc878c536f8a663d70c1e9f45) repeat;
  font-family: "New Rodin";
}

table {
  border-collapse: collapse;
}

.leaderboard {
  color: #fff;
  float: left;
  min-width: 250px;
}
.leaderboard .playerRow {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 0.25rem;
  margin: 0.25rem;
  text-shadow: 0 0 3px #000;
}
.leaderboard .playerRow .rank {
  text-align: center;
}
.leaderboard .playerRow .points {
  text-align: center;
}
.leaderboard .playerRow.winner {
  background: rgba(254, 242, 70, 0.9);
}
