$darktransparent: rgb(0 0 0 / 40%);
$yellow: rgb(254 242 70 / 90%);
$orange: rgb(255 171 0 / 90%);
$orangered: rgb(255 73 1 / 100%);
$red: rgb(181 0 0 / 100%);

@font-face {
    font-family: 'New Rodin';
    src: url('../fonts/FOT-NewRodin-Pro-EB.otf') format('opentype');
}

@font-face {
    font-family: 'Mario Kart';
    src: url('../fonts/mario_kart_font_two.ttf') format('truetype');
}

body {
    background: #333 url('../images/bg-light.png') repeat;
    font-family: 'New Rodin';
}

#admin {
    position: fixed;
    display: none;
    top: 70px;
    left: 10px;
    background: #fff url('../images/bg-light.png');
    width: 120px;
    z-index: 110;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 2px 0px #000;

    &.show {
        display: block;
    }

    button {
        width: 100%;
    }
}

#toggleadmin {
    position: fixed;
    top: 5px;
    left: 10px;
    background: url('../images/BlueShell.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    filter: grayscale(60%);
    transition: filter 0.25s;

    &:hover {
        filter: grayscale(0);
    }
}

#playerswrapper {
    display: none;
    position: absolute;
    width: 40vw;
    height: 40vh;
    left: calc(50% - 20vw);
    top: calc(50% - 20vh);
    border-radius: 5px;
    border: 2px solid $orangered;
    background: #fff;
    z-index: 100;padding: 0.5rem 1rem;

    &.show {
        display: block;
    }
}

#players {
    height: 90%;
    max-height: 90%;
    width: 100%;
    overflow-y: auto;
    background: #efefef;
    outline: none;
}

#wrapper {
    margin-top: 150px;
}

#headerlogo {
    width: 500px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: 100%;
    }
}

.roundWrapper {
    clear: both;
    width: 70%;
    margin: 0 auto 1rem;
    display: grid;
    padding: 3rem 0.5rem 1rem;
    background: $yellow;
    background: linear-gradient(90deg, $yellow 0%, $orange 100%);
    position: relative;
    border-radius: 5px;
    border: 2px solid $orangered;

    &.items1 {
        grid-template-columns: repeat(1, 1fr);
    }

    &.items2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.items3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.items4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.items5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.items6 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.items7,
    &.items8 {
        grid-template-columns: repeat(4, 1fr);
    }

    &:before {
        position: absolute;
        width: 120px;
        text-align: center;
        left: 50%;
        top: 0.5rem;
        transform: translateX(-50%);
    }

    &:after {
        content: ' ';
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 101;
    }
}

#roundWrapper1 {
    &:before {
        content: 'Round 1';
    }

    &:after {
        background-image: url('../images/Lakitu_camera.png');
        width: 220px;
        height: 290px;
        top: -100px;
        right: -180px;
    }
}

#roundWrapper2 {
    &:before {
        content: 'Round 2A';
    }

    &:after {
        background-image: url('../images/MK8_Toad_Mechanic3.png');
        width: 120px;
        height: 200px;
        top: 70px;
        left: -140px;
    }
}

#roundWrapper3 {
    &:before {
        content: 'Round 2B';
    }

    &:after {
        background-image: url('../images/MK8_Toad_Space2.png');
        width: 220px;
        height: 290px;
        top: -100px;
        right: -180px;
    }
}

#roundWrapper4 {
    &:before {
        content: 'Semi Finale';
    }

    &:after {
        background-image: url('../images/MK8_Toad_Mechanic1.png');
        width: 160px;
        height: 200px;
        top: 90px;
        left: -140px;
    }
}

#roundWrapper5 {
    &:before {
        content: 'Finale';
    }

    &:after {
        background-image: url('../images/Mario_Trophy.png');
        width: 220px;
        height: 290px;
        top: 0px;
        right: -180px;
    }
}

.leaderboard {
    color: #fff;
    float: left;
    margin-bottom: 1rem;
    width: 100%;

    .playerRow {
        display: grid;
        grid-template-columns: 10% 15% 60% 15%;
        background: $darktransparent;
        border-radius: 2px;
        padding: 0.25rem;
        margin: 0.25rem;
        text-shadow: 1px 1px 2px #000;
        border: 1px solid transparent;

        .rank {
            text-align: center;
        }

        .icon img {
            width: 35px;
            height: 35px;
        }

        .points {
            text-align: center;
        }

        &.winner {
            background: $yellow;
            background: linear-gradient(90deg, $yellow 0%, $orange 100%);
            border-radius: 3px;
            border-color: #000;
            box-shadow: 1px 1px 2px 0px #000;
        }
    }

}
